body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 100px;
}

.flex { display: flex; }

.align-center {
    display: flex;
    align-items: center;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column { flex-direction: column; }

.block { display: block; }

.none { display: none !important; }

.my8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mr6 { margin-right: 6px; }

.fs13 { font-size: 13px; }

.bold { font-weight: bold; }

h1 {
    text-align: center;
    letter-spacing: 1.8px;
    color: rgb(0, 132, 255);
    font-size: 28px;
}

h2 {
    text-align: center;
    letter-spacing: 1.8px;
    line-height: 1.2;
}

.text {
    letter-spacing: 1.2px;
    line-height: 1.8;
    text-align: center;
    color: rgb(20, 20, 20);
}

.size14 {
    width: 14px;
    height: 14px;
}

.infinite-rotate {
    animation: spin 1.4s linear infinite;
    -webkit-animation: spin 1.4s linear infinite;
}

#articles {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.article {
    display: flex;
    gap: 12px;
    background-color: #eef1f214;
    border: 1px solid #dce1e3d1;
    padding: 12px;
    border-radius: 3px;
    width: 840px;
    box-sizing: border-box;
}

.article .thumbnail-box {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
    background-color: #e8ecee;
}

.article .thumbnail {
    width: 100%;
    height: auto;
}

.article .title {
    margin: 0 0 8px 0;
    font-size: 17px;
}

.article .title a {
    text-decoration: none;
    color: rgb(0, 132, 255);
}

.article .summary {
    font-size: 13px;
    margin: 8px 0;
    line-height: 1.6;
    color: rgb(20, 20, 20);
}

.article .keywords-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}

.article .keywords-box .keyword {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 6px;
    background-color: #e0e4e8;
    border-radius: 3px;
}

@keyframes spin {
    from {
        transform: none
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: none
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@media screen and (max-width: 960px) {
    #app {
        padding: 0;
    }

    .article {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .article {
        flex-direction: column;
    }
    
    .article .thumbnail-box {
        width: 100%;
        max-width: unset;
    }
}